.homeBox {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .contentBox {
        overflow: hidden;
        height: calc(100% - 50px);
        width: 100%;
        display: flex;
        .leftComponentBox {
            height: 100%;
            width: 260px !important;
            padding: 0 8px;
            border-right: 2px dotted #ebeef5;
            overflow-y: scroll;
            margin-bottom: 20px;
        }
        .middleContainer {
            min-width: 680px;
            flex: 1;
            .toolBarHeader {
                padding: 0 20px;
                border-bottom: 1px dotted #ccc;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .leftBar {
                    .stepOperator {
                        color: #409eff;
                        font-size: 16px;
                        &.rightStep {
                            margin-left: 8px;
                        }
                    }
                    .treeButton {
                        width: 52px;
                        height: 32px;
                        margin-left: 15px;
                    }
                }
                .rightBar {
                    display: flex;
                    >div {
                        color: #409eff;
                        font-size: 14px;
                        cursor: pointer;
                    }
                    .rightBarItem {
                        margin-left: 10px;
                    }
                    .rightText {
                        margin-left: 2px;
                    }
                }
            }
            .formWidgetMain {
                position: relative;
                height: calc(100% - 43px);
            }
        }
        .rightPropertyBox {
            height: 100%;
            width: 300px;
            padding: 0 8px;
            border-left: 2px dotted #ebeef5;
            overflow-y: scroll;
            margin-bottom: 20px;
        }
    }
}