.allComponents {
    .boxHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 12px;
        &.underBox {
            margin-top: 12px;
        }
    }
    .componnetsBox {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 12px;
        border-bottom: 1px solid #ebeef5;
        .componentItem {
            height: 28px;
            line-height: 28px;
            width: 115px;
            margin: 2px 6px 6px 0;
            cursor: move;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            background: #f1f2f3;
            color: #303133;
            border: 1px solid #f1f2f3;
            &:hover {
                border: 1px solid #409eff;
            }
            .icon {
                color: #409eff;
                font-size: 14px;
                margin-left: 8px;
            }
            .itemText {
                font-size: 13px;
                margin-left: 6px;
            }
        }
    }
}